* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: ghostwhite;
  overflow-x: hidden;
}

a {
  /* hapus link garis bawah */
  text-decoration: none;
  color: rgb(230, 144, 15);
}

p {
  line-height: 2;
}
